
src/i2c_controller.v.bak
simulation/work/_lib1_0.qtl
simulation/work/_lib1_0.qpg
simulation/work/_lib1_0.qdb
simulation/work/_lib.qdb
simulation/work/_info
simulation/vsim.wlf
simulation/transcript
simulation/top_tb/work/_lib1_0.qtl
simulation/top_tb/work/_lib1_0.qpg
simulation/top_tb/work/_lib1_0.qdb
simulation/top_tb/work/_lib.qdb
simulation/top_tb/transcript
simulation/top_tb/Accelerometer.mpf
simulation/top_tb/Accelerometer.cr.mti
simulation/i2c.mpf
simulation/i2c.cr.mti
db/prev_cmp_Accerleromter.qmsg
db/Accerleromter.tmw_info
db/Accerleromter.tis_db_list.ddb
db/Accerleromter.sta_cmp.7_slow_1200mv_85c.tdb
db/Accerleromter.smart_action.txt
db/Accerleromter.quiproj.16512.rdr.flock
db/Accerleromter.map_bb.logdb
db/Accerleromter.map_bb.hdb
db/Accerleromter.map_bb.cdb
db/Accerleromter.map.rdb
db/Accerleromter.map.qmsg
db/Accerleromter.map.logdb
db/Accerleromter.map.hdb
db/Accerleromter.map.cdb
db/Accerleromter.map.bpm
db/Accerleromter.hif
db/Accerleromter.db_info
db/Accerleromter.cmp.rdb
db/Accerleromter.cmp.logdb
db/Accerleromter.cmp.hdb
db/Accerleromter.cmp.cdb
db/Accerleromter.cmp.bpm
db/Accerleromter.asm_labs.ddb
db/Accerleromter.(2).cnf.hdb
db/Accerleromter.(2).cnf.cdb
db/Accerleromter.(0).cnf.hdb
db/Accerleromter.(0).cnf.cdb
Accerleromter.qws
Accerleromter.map.summary
Accerleromter.map.smsg
Accerleromter.map.rpt
Accerleromter.flow.rpt
.qsys_edit/preferences.xml
*.pb
*.ini
*.sdb
*.exe
*.log
*.rlx
*.type
*.xdbg
*.svtype
*.rtti
*.db
*.wpc
*.wdf
*.lpr
sim_vivado/i2c/i2c_tb/i2c_tb.ip_user_files/README.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/compile.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/elaborate.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/glbl.v
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb.tcl
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb_behav.wdb
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb_vlog.prj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/simulate.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/Compile_Options.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_0.win64.obj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_1.c
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_1.win64.obj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/TempBreakPointFile.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.dbg
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.mem
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.reloc
