
src/i2c_controller.v.bak
simulation/work/_lib1_0.qtl
simulation/work/_lib1_0.qpg
simulation/work/_lib1_0.qdb
simulation/work/_lib.qdb
simulation/work/_info
simulation/vsim.wlf
simulation/transcript
simulation/top_tb/work/_lib1_0.qtl
simulation/top_tb/work/_lib1_0.qpg
simulation/top_tb/work/_lib1_0.qdb
simulation/top_tb/work/_lib.qdb
simulation/top_tb/transcript
simulation/top_tb/Accelerometer.mpf
simulation/top_tb/Accelerometer.cr.mti
simulation/i2c.mpf
simulation/i2c.cr.mti
db/prev_cmp_Accerleromter.qmsg
db/Accerleromter.tmw_info
db/Accerleromter.tis_db_list.ddb
db/Accerleromter.sta_cmp.7_slow_1200mv_85c.tdb
db/Accerleromter.smart_action.txt
db/Accerleromter.quiproj.16512.rdr.flock
db/Accerleromter.map_bb.logdb
db/Accerleromter.map_bb.hdb
db/Accerleromter.map_bb.cdb
db/Accerleromter.map.rdb
db/Accerleromter.map.qmsg
db/Accerleromter.map.logdb
db/Accerleromter.map.hdb
db/Accerleromter.map.cdb
db/Accerleromter.map.bpm
db/Accerleromter.hif
db/Accerleromter.db_info
db/Accerleromter.cmp.rdb
db/Accerleromter.cmp.logdb
db/Accerleromter.cmp.hdb
db/Accerleromter.cmp.cdb
db/Accerleromter.cmp.bpm
db/Accerleromter.asm_labs.ddb
db/Accerleromter.(2).cnf.hdb
db/Accerleromter.(2).cnf.cdb
db/Accerleromter.(0).cnf.hdb
db/Accerleromter.(0).cnf.cdb
Accerleromter.qws
Accerleromter.map.summary
Accerleromter.map.smsg
Accerleromter.map.rpt
Accerleromter.flow.rpt
.qsys_edit/preferences.xml
*.pb
*.ini
*.sdb
*.exe
*.log
*.rlx
*.type
*.xdbg
*.svtype
*.rtti
*.db
*.wpc
*.wdf
*.lpr
sim_vivado/i2c/i2c_tb/i2c_tb.ip_user_files/README.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/compile.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/elaborate.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/glbl.v
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb.tcl
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb_behav.wdb
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/i2c_controller_tb_vlog.prj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/simulate.bat
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/Compile_Options.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_0.win64.obj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_1.c
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/obj/xsim_1.win64.obj
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/TempBreakPointFile.txt
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.dbg
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.mem
sim_vivado/i2c/i2c_tb/i2c_tb.sim/sim_1/behav/xsim/xsim.dir/i2c_controller_tb_behav/xsim.reloc
sim_vivado/counter/counter_tb/counter_tb.ip_user_files/README.txt
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/compile.bat
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/counter_tb_behav.wdb
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/counter_tb_vlog.prj
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/elaborate.bat
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/glbl.v
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/simulate.bat
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/Compile_Options.txt
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/obj/xsim_0.win64.obj
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/obj/xsim_1.c
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/obj/xsim_1.win64.obj
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/TempBreakPointFile.txt
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/xsim.dbg
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/xsim.mem
sim_vivado/counter/counter_tb/counter_tb.sim/sim_1/behav/xsim/xsim.dir/counter_tb_behav/xsim.reloc
sim_vivado/i2c/i2c_tb/vivado_pid18336.str
*.jou
incremental_db/compiled_partitions/Accerleromter.rrp.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Accerleromter.db_info
db/Accerleromter.zippleback_io_sim_cache.ii_85c_slow.hsd
db/Accerleromter.zippleback_io_sim_cache.ii_0c_slow.hsd
db/Accerleromter.zippleback_io_sim_cache.ff_0c_fast.hsd
db/Accerleromter.vpr.ammdb
db/Accerleromter.tiscmp.slow_1200mv_85c.ddb
db/Accerleromter.tiscmp.slow_1200mv_0c.ddb
db/Accerleromter.tiscmp.fastest_slow_1200mv_85c.ddb
db/Accerleromter.tiscmp.fastest_slow_1200mv_0c.ddb
db/Accerleromter.tiscmp.fast_1200mv_0c.ddb
db/Accerleromter.tis_db_list.ddb
db/Accerleromter.sta.rdb
db/Accerleromter.sta.qmsg
db/Accerleromter.smp_dump.txt
db/Accerleromter.smart_action.txt
db/Accerleromter.sld_design_entry_dsc.sci
db/Accerleromter.sld_design_entry.sci
db/Accerleromter.rtlv_sg_swap.cdb
db/Accerleromter.rtlv_sg.cdb
db/Accerleromter.rtlv.hdb
db/Accerleromter.routing.rdb
db/Accerleromter.root_partition.map.reg_db.cdb
db/Accerleromter.quiproj.1592.rdr.flock
db/Accerleromter.pre_map.hdb
db/Accerleromter.map_bb.hdb
db/Accerleromter.map.rdb
db/Accerleromter.map.qmsg
db/Accerleromter.map.kpt
db/Accerleromter.map.ammdb
db/Accerleromter.lpc.txt
db/Accerleromter.lpc.rdb
db/Accerleromter.lpc.html
db/Accerleromter.hif
db/Accerleromter.hier_info
db/Accerleromter.fit.qmsg
db/Accerleromter.db_info
db/Accerleromter.cmp_merge.kpt
db/Accerleromter.cmp.rdb
db/Accerleromter.cmp.idb
db/Accerleromter.cbx.xml
db/Accerleromter.asm.rdb
db/Accerleromter.asm.qmsg
db/Accerleromter.(1).cnf.hdb
db/Accerleromter.(1).cnf.cdb
incremental_db/compiled_partitions/Accerleromter.rrp.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.kpt
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.map.dpi
incremental_db/compiled_partitions/Accerleromter.root_partition.map.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.hdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.cdb
incremental_db/compiled_partitions/Accerleromter.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Accerleromter.db_info
db/prev_cmp_Accerleromter.qmsg
db/Accerleromter_partition_pins.json
db/Accerleromter.zippleback_io_sim_cache.ii_85c_slow.hsd
db/Accerleromter.zippleback_io_sim_cache.ii_0c_slow.hsd
db/Accerleromter.zippleback_io_sim_cache.ff_0c_fast.hsd
db/Accerleromter.vpr.ammdb
db/Accerleromter.tiscmp.slow_1200mv_85c.ddb
db/Accerleromter.tiscmp.slow_1200mv_0c.ddb
db/Accerleromter.tiscmp.fastest_slow_1200mv_85c.ddb
db/Accerleromter.tiscmp.fastest_slow_1200mv_0c.ddb
db/Accerleromter.tiscmp.fast_1200mv_0c.ddb
db/Accerleromter.tis_db_list.ddb
db/Accerleromter.sta.rdb
db/Accerleromter.sta.qmsg
db/Accerleromter.smp_dump.txt
db/Accerleromter.smart_action.txt
db/Accerleromter.sld_design_entry_dsc.sci
db/Accerleromter.sld_design_entry.sci
db/Accerleromter.rtlv_sg_swap.cdb
db/Accerleromter.rtlv_sg.cdb
db/Accerleromter.rtlv.hdb
db/Accerleromter.routing.rdb
db/Accerleromter.root_partition.map.reg_db.cdb
db/Accerleromter.pre_map.hdb
db/Accerleromter.map_bb.hdb
db/Accerleromter.map.rdb
db/Accerleromter.map.qmsg
db/Accerleromter.map.kpt
db/Accerleromter.map.ammdb
db/Accerleromter.lpc.txt
db/Accerleromter.lpc.rdb
db/Accerleromter.lpc.html
db/Accerleromter.hif
db/Accerleromter.hier_info
db/Accerleromter.fit.qmsg
db/Accerleromter.db_info
db/Accerleromter.cmp_merge.kpt
db/Accerleromter.cmp.rdb
db/Accerleromter.cmp.idb
db/Accerleromter.asm.rdb
db/Accerleromter.asm.qmsg
db/Accerleromter.(4).cnf.hdb
db/Accerleromter.(4).cnf.cdb
db/Accerleromter.(3).cnf.hdb
db/Accerleromter.(3).cnf.cdb
db/Accerleromter.(1).cnf.hdb
db/Accerleromter.(1).cnf.cdb
db/.cmp.kpt
Accerleromter.sta.summary
Accerleromter.sta.rpt
Accerleromter.sof
Accerleromter.qsf
Accerleromter.pof
Accerleromter.pin
Accerleromter.map.summary
Accerleromter.map.rpt
Accerleromter.jdi
Accerleromter.flow.rpt
Accerleromter.fit.summary
Accerleromter.fit.rpt
Accerleromter.done
Accerleromter.asm.rpt
Accerleromter.asm.rpt
